<h1>Credits</h1>
<p>The source code for this site is all mine. However, in order to build it I used several great open source tools and frameworks. The code was written in JavaScript and it uses Node.js and Express.js on the server side and Angular.JS on the client side.</p>

<p>The entire source code for this site is available on <a href="https://github.com/hectorcorrea/cooking" target="_blank">GitHub</a>.</p>

<p>The CSS for the site is based almost entirely on <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>.</p>

<p>The favicon with the silverware was taken from 
<a href="http://www.favicon.cc/?action=edit_image&file_id=513188" target="_blank">favicon.cc</a>.</p>

<p>Starting on June 26th, 2013 the site is hosted at <a href="http://www.windowsazure.com/" target="_blank">Windows Azure</a>. </p>

<p>Sincerely, <br/>
Hector Correa</p>
