<h1>Your Quiz Results Indicate High Risk!!!!</h1>
<h3>
    Unfortunately, the results from your quiz indicate that you may be involved in an abusive relationship. This is no matter to ignore.
    This is only one quiz that is far from all-knowing, it would definitly be good idea for you to check out these links just to double check.
    Better safe than sorry!  It is important not to blow the results from this quiz out of proportion because this is just one short quiz and
    the results could be due to a number of reasons, it is equally, if not more, important to get educated on the situation at hand so that
    you are able to get help if needed in the early stages in the relationship before things get out of hand.
</h3>
<br /> <br /> <br />
<h2><a href="http://www.helpguide.org/mental/domestic_violence_abuse_types_signs_causes_effects.htm">Domestic Violence Abuse Signs</a></h2>
<h2>
    The above link is a help guide for Domestic Violence and Abuse. There are additional warning signs
    as well as helpful tips and guidelines for dealing with the situation
</h2>
<br /><br />
<h2><a href="http://www.dayoneny.org/dayone.">Day One Organization</a>
    The above link will take you to the day one website which is an organization that works with youth to end dating abuse.
    There are many educational links to get informed and, if needed, help.</h2>
