<h1>Zenith</h1>
<form class="form-horizontal" role="form">
  
<!--     <div class="input-group"> -->
<!--       <input type="text" ng-model="searchText" class="form-control" placeholder="enter something"> -->

<!--       <span class="input-group-btn"> -->
<!--         <button id="btnSearch" -->
<!--           ng-click="search()" -->
<!--           ng-disabled="searchText.length == 0" -->
<!--           class="btn btn-success">Search</button> -->
<!--       </span> -->

<!--     </div> -->

    <div>
            <span class="glyphicon glyphicon-plus"></span> <a href="/#/recipes">Add Event</a>
       

    </div>
    
    
    
    <br/> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-eye-open"></span>  View Scrapbook 
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-pencil"></span> Edit Pages 
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-pushpin"></span>  Share Book 
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span> Morning Message 
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-thumbs-up"></span> Motivation
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-th-list"></span> Goal Chart
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-ok"></span> Quiz Results
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-heart-empty"></span> Relationship Status
        </button>
    </div>

    <br /> <br />

    <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-cog"></span> Settings
        </button>
    </div>



        <div>
            <p ng-repeat="recipe in recipes">
                <a ng-bind-html-unsafe="recipe.name" ng-href="#/recipes/{{recipe.url}}/{{recipe.key}}" />
            </p>
        </div>

        <p></p>
        <div ng-show="message" ng-bind="message" class="alert alert-warning" />

</form>