<h1>Your Quiz Results Indicate Low Risk!</h1>
<h3>
    The results from your quiz indicate that you are most likely in a healthy relationship. It is still a good idea to look into symptoms of abusive relationships
    just to make yourself more aware to any and all future situations. Below a few helpful resources are located for you to educate yourself with. Congratulations
    on finding a respectable relationship!
</h3>
<br /> <br /> <br />
<h2><a href="http://www.helpguide.org/mental/domestic_violence_abuse_types_signs_causes_effects.htm">Domestic Violence Abuse Signs</a></h2>
<h2>
    The above link is a help guide for Domestic Violence and Abuse. There are additional warning signs
    as well as helpful tips and guidelines for dealing with the situation
</h2>
<br /><br />
<h2><a href="http://www.dayoneny.org/dayone.">Day One Organization</a>
    The above link will take you to the day one website which is an organization that works with youth to end dating abuse.
    There are many educational links to get informed and, if needed, help.</h2>
