<h1>Your Quiz Results Indicate medium Risk!</h1>
<h3>
    The results from your quiz indicate that you may be involved in an unhealthy relationship. This is no matter to ignore.
    This is only one quiz and is far from all-knowing, it would be good idea talk to friends and family about you and your partners recent disagreements.
    Better safe than sorry!  It is important not to blow the results from this quiz out of proportion because this is just one short quiz and
    the results could be due to a number of reasons, it is equally, if not more, important to get educated on the situation at hand so that
    you are able to prevent your relationship from being abusive and keep a healthy safe enviroment between you and your significant other.
</h3>
<br /> <br /> <br />
<h2><a href="http://www.helpguide.org/mental/domestic_violence_abuse_types_signs_causes_effects.htm">Domestic Violence Abuse Signs</a></h2>
<h2>
    The above link is a help guide for Domestic Violence and Abuse. There are additional warning signs
    as well as helpful tips and guidelines for dealing with the situation
</h2>
<br /><br />
<h2><a href="http://www.dayoneny.org/dayone.">Day One Organization</a>
    The above link will take you to the day one website which is an organization that works with youth to end dating abuse.
    There are many educational links to get informed and, if needed, help.</h2>
