<h1>Violent Behavior Quiz</h1>
<h3>Question 1: Does your partner have a bad and unpredictable temper?</h3>
<select class="form-control"id='q1'>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<h3>Question 2: Does your partner hurt you, or threaten to hurt or kill you?</h3>
<select class="form-control"id='q2'>
    <option value="One">Constantly</option>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<h3>Question 3: Does your partner threaten your loved ones?</h3>
<select class="form-control"id='q3'>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<h3>Question 4: Does your partner threaten to commit suicide?</h3>
<select class="form-control"id='q4'>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<h3>Question 5: Does your partner force you to preform or participate in sexual acts?</h3>
<select class="form-control" id='q5'>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<h3>Question 6: Does your partner destroy your belongings?</h3>
<select class="form-control"id='q6'>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<h3>Question 7: Does your partner raise their voice when talking to you?</h3>
<select class="form-control" id='q7'>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<h3>Question 8: Does your partner have violent outbursts?</h3>
<select class="form-control"id='q8'>
    <option value="1">Constantly</option>
    <option value="2">Daily</option>
    <option value="3">Weekly</option>
    <option value="4">Occasionally</option>
    <option value="5">Never</option>
</select>

<div class="form-group">
      <button ng-click="submit($location)" type="button" class="btn btn-default btn-lg">Submit</button>
      <button hidden="true" id="results" type="button" class="btn btn-default btn-lg"><a href={{url}}>See Results</a></button>
  </div>