<h1>Quizzes</h1>
<button type="button" class="btn btn-default btn-lg btn-block"><a href="/#/recipes/quizThoughts">Your Thoughts Quiz</a></button>
<button type="button" class="btn btn-default btn-lg btn-block"><a href="/#/recipes/quizBelittling">Belittling Behavior Quiz</a></button>
<button type="button" class="btn btn-default btn-lg btn-block"><a href="/#/recipes/quizViolent">Violent Behavior Quiz</a></button>
<button type="button" class="btn btn-default btn-lg btn-block"><a href="/#/recipes/quizControlling">Controlling Behavior Quiz</a></button>
